.bg-menu{
    background-color: #073b59;
}
.navbar-nav li a{
    color: #FFFFFF !important;
    border-bottom: 4px solid #073b59;
}
.navbar-nav li a:hover{
    border-bottom: 4px solid #fe5000;
}
.dropdown-menu{
    background-color: #073b59 !important;
}
.dropdown-menu li a:hover{
    color: #FFF !important;
    background-color: #fe5000;
}
.navbar-nav li{
    padding: 0 20px !important;
}
/********************button laranja********************/
.btn-unipam{
    color: #FFF !important;
    background-color: #fe5000 !important;
}
.btn-unipam:hover{
    background-color: #073b59 !important;
}
/***************espacamento***************************/
.espacamento{
    margin: 60px 0 !important;
}
.bg-card{
    background-color: #073b59 !important;
    color: #FFFFFF;
}
.bg-card i{
    font-size: 5rem;
    color: #FFFFFF;
}
.bg-card .card-title{
    color: #FFFFFF;
}
.noticia{
    color: #073b59 ;
}
.btn-btn-saiba-mais{
    background-color: #073b59 !important;
    color: white; /* cor do texto */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.btn-card{
    color: #FFF !important;
    background-color: #073b59 !important;
    border: 2px solid #FFFFFF !important;

}
.rodape{
    background-color: #073b59 !important;
    color: #FFFFFF;
    padding: 60px 0;
    justify-content: center;
    display: flex;
}
.rodape i{
    color: #FFFFFF;
    font-size: 2rem;
}
.seta{
    font-size: 20px;
}
